<html>
<head>
<title>Home page</title>
	<link rel="stylesheet" 	type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
	<link rel="stylesheet" 	type="text/css" href="/stylesheets/app.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
  	.a{
  		width: 100%;
  		height: 50%;
  	}
  	.b{
  		 text-shadow: 2px 2px 2px blue;
  	}
  	/*body{
  		height:100%;
			background: -webkit-linear-gradient(180deg,#56ab2f 10%,#a8e063 90%);
  	}*/

  	#im{
  		width: 20%;
  		height: 230%;
  	}
  	#im2{
  		width:100%;
  		height: 130%;
  	}
  	.h2{
  		color:black;
  		font-size: 13px;
  	}
  	body{
  		background-color: #f3f9a7;
  	}
  </style>

</head>
<body >

	<nav class="navbar navbar-inverse">
	<div >
	<div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="ncollapse" data-target="#bs-nav-demo" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a href="#" class="navbar-brand" ><div>Flight Booking <img src="Logo.jpg" class="img-circle" id="im"/>  </div></a>
	</div>
	<div class="collapse navbar-collapse" id="bs-nav-demo">
	<ul class="nav navbar-nav">
	<li><a href="http://localhost:3000/home" > Home</a></li>
	<li><a href="#" >About</a></li>
	<li><a href="#" >Contact</a></li>
	 
	</ul>
	<ul class="nav navbar-nav navbar-right">
	<li><a href="http://localhost:3000/home/signup" >SignUp</a></li>
	<li><a href="http://localhost:3000/home/login" >Login</a></li>
	<li><a href="#" >INDIA&emsp;<i class="in flag"></i></a></li>
	
	</ul>
	</div>
	</div>
	</nav>