
<html>
<head>
<title>Login page</title>
	<link rel="stylesheet" 	type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
	<link rel="stylesheet" 	type="text/css" href="/stylesheets/app.css">
	<style type="text/css">
		body{
			background-color: #f3f9a7;
			
		}
	</style>
</head>
<body >
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>

	<div class="ui main text container segment">
	<div class="ui huge header">Login page</div>
		<form class="ui form" action="/home" method="post">
			<div class="field">
				<label>Email ID</label>
				<input type="text" name="email" placeholder="Email ID" required>
			</div>
			<div class="field">
				<label>Password </label>
				<input type="password" name="password" placeholder="Password" required>
			</div>
			<div class="field" >
				
				<input type="checkbox" name="checkbox" required> <label>check</label>
			</div>
	
			
			<input type="submit" class="ui inverted big primary button" value="Login">
		</form>
	</div>
</body>
</html>
