<html>
<head>
<title>Sign up page</title>
	<link rel="stylesheet" 	type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
	<link rel="stylesheet" 	type="text/css" href="/stylesheets/app.css">
</head>
<body >
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>

	<div class="ui main text container segment">
	<div class="ui huge header">Sign Up page</div>
		<form class="ui form" action="/home" method="post">
			<div class="field">
				<label>Full Name</label>
				<input type="text" name="fname" placeholder="Full Name">
			</div>
			<div class="field">
				<label>Email ID </label>
				<input type="email" name="email" placeholder="Email ID">
			</div>
			<div class="field">
				<label>Contact Number </label>
				<input type="text" name="contact" placeholder="Contact Number">
			</div>
			<div class="field">
				<label>Create Password </label>
				<input type="password" name="password" placeholder="Password">
			</div>
			
			
			<input type="submit" class="ui inverted big primary button" value="submit">
		</form>
	</div>
</body>
</html>